#con1 {
    display: flex;
    flex-direction: column;
    width: 1300px;
    height: 837px;
    flex-shrink: 0;
    border: 1px solid rgba(0 , 0 , 0 , 0.20);
    background: white;
    box-shadow: 10px 10px 4px 0px rgba(0 , 0 , 0 , 0.20);
}

#con1 > hr{
    width: auto;
    height: 1px;
    background: black;
}

#headerCon1{

    display: flex;
    flex-direction: row;
    padding: 80px 100px 50px 50px;
    justify-content: space-between;
    align-items: center;
    gap: 736px;
}

#headerCon1 > p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mb-3 {
    width: 25%;
    padding-left: 0px;
    
}

#headerCon2 {
    display: flex;
    flex-direction: row;
    padding: 30px 100px 50px 50px;
    justify-content: space-between;
    align-items: center;
    gap: 736px;
}

#tableCon2{
    display: flex;
    flex-direction: row;
    padding: 0px 100px 50px 50px;
}

#btnEdit {
    text-align: center;
}

#general-btn{
    display: flex;
    flex-direction: row;
    padding: 0px 0px 0px 50px;
}

