* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.con1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.con2 {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background: white;
}

.btn {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.valid {
    color: green;
    display: flex;
    align-items: center;
  }
  
  .invalid {
    color: red;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 8px;
  }

  /* Add this to your CSS file or a style block */
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  

