.containerLogin {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.loginTitle {
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.formname {
    margin: 0 30px;
}

.custom-width {
    width: 100%;
    margin-bottom: 15px;
}

.submit-btn {
    width: 100%;
    margin-top: 20px;
    background-color: #007bff;
    border: none;
}

.submit-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 576px) {
    .containerLogin {
        width: 100%;
        padding: 15px;
    }

    .formname {
        margin: 0 15px;
        text-align: center;
    }

    .loginTitle {
        font-size: 20px;
    }

    .title {
        font-size: 14px;
    }
}

.link-text {
    color: inherit;
    text-decoration: none;
}

.regis-btn {
    width: 100%;
    margin-top: 20px;
    border: none;
}

.regis-btn:hover {
    background-color: #00b436;
}

